<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title> Login </title>
</head>
<body> 
<% unless user_signed_in? %>
<div>
		<h1>Bem vindo ao Superforma!</h1>
		<p>
			<%= link_to "Entre agora", new_user_registration_path %>
		</p>
	</div>
	<%= render 'layouts/yield' %>
<% end %>