<header class>
                <div class="menu-row">
                    <div class="container_24">
                        <div class="grid_24 index-2">
                            <nav class="fleft">
                                <ul class="menu2">
                                    <li><%= link_to   "Nova avaliação", avaliacaos_path %></li>
                                    <li><%= link_to 'Adicionar aluno', new_aluno_path %></li>                                </ul>
                            </nav>
                            <form id="search-form" method="post" enctype="multipart/form-data">
                                 
                                    <div class="extra-wrap">
                                        <a class="btn" href="#" onClick="document.getElementById('search-form').submit()">Go!</a> 
                                        <input name="search" type="text" />
                                    </div>            
                                  </form>
                              </div>
                          </div>
                      </div>
                        
            </header>