<div id="wrapper">
	<div id="featured" class="container">
		<h2 class="title">Tabelas de avaliação física</h2>
		<div id="fbox1"> <img src="/assets/img04.jpg" width="235" height="235" alt="" />
			<h2>Teste 1</h2>
			<p>In posuere eleifend quisque semper augue mattis wisi maecenas ligula.</p>
		</div>
		<div id="fbox2"> <img src="/assets/img05.jpg" width="235" height="235" alt="" />
			<h2>Teste 2</h2>
			<p>Maecenas ligula. Pellentesque viverra vulputate Aliquam erat volutpat.</p>
		</div>
		<div id="fbox3"> <img src="/assets/img06.jpg" width="235" height="235" alt="" />
			<h2>Teste 3</h2>
			<p>Donec fermentum nibh in augue a lacus at urna congue rutrum.</p>
		</div>
		<div id="fbox4"> <img src="/assets/img07.jpg" width="235" height="235" alt="" />
			<h2>Teste 4</h2>
			<p>Suspendisse sit amet tellus eros bibendum volutpat nulla.</p>
		</div>
	</div>